@model Hospital.Application.Contracts.Patients.CreateUpdatePatientDTO

@{
    ViewData["Title"] = "Edit Patient";
}

<h2>Edit Patient</h2>

<form asp-action="Edit" asp-controller="Patient" method="post">
    <input type="hidden" asp-for="ID" />
    <div>
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" value="@Model.Name" />
    </div>
    <div>
        <label for="Gender">Gender:</label>
        <select asp-for="Gender" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div>
        <label for="UserName">UserName:</label>
        <input type="text" id="UserName" name="UserName" value="@Model.UserName" />
    </div>
    <div>
        <label for="Password">Password:</label>
        <input type="password" id="Password" name="Password" value="@Model.Password" />
    </div>
    <button type="submit">Save</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
